:root {    
  --jp-layout-color0: #e9f8fa;    
  }
  
.widget-dropdown > select {
  background-color: #e7edf0;
  font-weight: bold;
  color: #5e6b74;
  border: white;
  border-radius: 15px;
}

.widget-button {
  color: white;
  border-radius: 15px;
}

.widget-text input[type="text"]{
  background-color: #e7edf0;
  font-weight: bold;
  color: #5e6b74;
  border: white;
  border-radius: 15px;
}

.jp-RenderedImage img{
  border-radius: 10px;
}
